/* About Container Styling */
.about-container {
  width: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

#about {
  background-color: rgba(0, 0, 0, 0.658);
}

 h2 {
  font-size: 1.8rem;
  margin-bottom: 6px;
  color: #b1b1b1d2;
  text-align: center;
  margin: 5px;
}

.about-container p {
  font-size: 0.8rem;
  line-height: 1.4;
  padding: 6px;
  color: #ffffff80;
  text-align: left;
}

.contacts{
  display: inline;
}

.contacts img{
  margin: 2px;
  padding-left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* Two columns for phones */
@media (max-width: 480px) {
  #about {
    margin-top: 35px;
    padding: 0px;
  }
  .about-container {
    display: flex;
  }
}

/* Larger screen */
@media (max-width: 768px) {
  #about {
    padding: 10px;
  }
  .about-container {
    display: flex;
  }
}