* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: radial-gradient(brown,gold);
    color: white;
    font-family: 'Arial', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #444;
}
.header h6 {
    transition: 300ms;
    font-size: 1rem;
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-bar {
    display: flex;
    flex: 1;
    margin: 0 0 0 2px;
}

.search-bar input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar .search-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar .search-btn:hover {
    background-color: #56567a;
}

/* Header Icons */
.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .cart,
.header-icons .login {
    position: relative;
    margin-left: 20px;
}

.header-icons button {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.header-icons #cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
}

#menu-box {
    display: flex;
    gap: 20px;
    justify-content: left;
    padding: 2px;
    text-decoration: none;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    left: 50px;
    top: 7.7%;
    padding: 10px;
    background: radial-gradient(brown,gold);
    transition: transform 3s ease-in-out;
}
#menu-box button {
    background-color: transparent;
    border: none;
}
#menu-box a {
    font-weight: bold;
    padding-left: 10px;
    color: rgba(255, 252, 252, 0.911);
    text-decoration: none;
    font-size: 1rem;
}

#menu-box a:hover {
    background: -webkit-linear-gradient(red, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 14px;
    left: 8px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}
.privacyp {
    display: none;
}

@media screen and (max-width: 768px) {
    .search-bar {
        position: fixed;
        width: 84%;
        margin-top: 40px;
    }
    .header-icons {
        display: flex;
        flex-direction: column-reverse;

    }

    .login {
        padding-bottom: 8px;
    }
    #menu-box {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 46px;
        height: 940%;
        width: 70%;
        left: 0px;
    }
    #menu-box button {
        padding: 10px;
        text-align: left;
        background-color: transparent;
        border: none;
    }
    .header h6 {
        font-size: 1.6rem;
    }
    .logo{
        padding-left: 20px;
        font-size: 4rem;
        margin-bottom: 36px;
    }

    #menu-box.open {
        display: flex;
    }

    .hamburger{
        display: flex;
    }
    .privacyp {
        display: flex;
        flex-direction: row;
        color: #444;
    }
}