.home-home {
    position: relative;
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
    width: 100%; /* Desired rectangle width */
    height: 100px; /* Desired rectangle height */
}

.home-section{
    padding-bottom: 10px;
    padding-top: 94px;
    background-color: #110f0fc5;
}

/* Slideshow container */
.slideshow {
    width: 100%;
    height: 100px;
}

/* Slideshow images */
.slide {
    position: absolute;
    width: 100%;
    height: 100px;
    object-fit: fill;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Show the active image */
.slide.active {
    opacity: 1;
}