#home-home {
    position: relative;
    height: 100px; 
    width: 100%; 
    height: 125px; 
}

.home-section{
    padding: 10px 40px;
    padding-top: 97px;
    background-color: #110f0fc5;
    display: flex;
    flex-direction: center;
}

/* Slideshow container */
.slideshow {
    width: 100%;
    height: 10px;
}
.slideshow p{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.801);
    color: rgba(241, 241, 241, 0.774);
}

/* Slideshow images */
.slide {
    border: 2px groove rgba(255, 255, 255, 0.425);
    border-radius: 10px;
    display: flex;
    flex-direction: center;
    position: absolute;
    width: 100%;
    height: 150px;
    object-fit: cover;
    opacity: 0;
    transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
}

/* Show the active image */
.slide.active {
    opacity: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #home {
        margin-bottom: 10px;
        padding: 0px 0px;
        padding-top: 60px;
        background-color: #110f0f9c;
        display: flex;
        flex-direction: center;
    }
}

@media (max-width: 480px) {
    #home {
        margin-bottom: 5px;
        padding-top: 60px;
        background-color: #110f0fc5;
        display: flex;
        flex-direction: center;
    }
}