.products {
  position: relative;
  margin-top: 60px;
}

.product {
  border: 6px solid #cedfff3b;
  border-radius: 10px;
}
.product a, a{
  text-decoration: none;
  transition: transform 0.3s ease;
}

.smartphones {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
	gap: 16px; 
	padding: 16px;
	list-style: none;
	text-align: center; 
	border-radius: 8px; 
	margin-bottom: 25px;
	border-radius: 2px;
	padding: 10px 10px;
}

.product-image img {
    object-fit: contain;
    max-height: 200px;
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.info-box {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-box h3 {
    font-size: 1.1rem;
    color: #333;
  }
  
  .info-box p {
    font-size: 0.8rem;
    color: #555;
    margin: 2px 0;
  }
  
  .info-box .price {
    font-size: 1rem;
    color: #fa1717;
    font-weight: bold;
    margin: 2px 0;
  }

  .sale {
    z-index: 1; 
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    bottom: 0px;
    left: -15px;
    background-color: rgb(167, 167, 167);
  }
  
  .buy-now {
    z-index: 1;
    cursor: pointer;
    top: 130px;
    right: 30px;
    position: relative;
    padding: 3px;
    color: rgb(255, 38, 0);
    font-size: 15px;
    border: none;
    text-align: center;
    background-color: black;
    border-radius: 0 3px 3px 0;
    opacity: 0;
  }
  .buy-now:hover {
    opacity: 1;
    background-color: #f2f2f2;
  }

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px; 
  }
}
