/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Product Details Container */
.product-details {
    max-width: 800px;
    margin: 2rem auto;
    background: #fafafa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Product Image Styling */
.product-details img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-details img:hover {
    transform: scale(1.05);
}

/* Back Link Styling */
.product-details a {
    display: inline-block;
    margin-top: 1rem;
    color: #007BFF;
    font-weight: bold;
}
.product-details p1{
    font-size: 1.1rem;
    color: #fa1717;
}
.product-details a:hover {
    text-decoration: underline;
}

.arrow-button{
justify-content: center;
padding: 15px;
display: flex; 
}
#prevImage {
    display: flex; 
    position: absolute;
    top: 20%;
    left: 7%;
    transform: translate(-50%, -50%); 
}
#nextImage{
    display: flex; 
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
   
}

.product-specifications{
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.add-to-cart, .call-to-order, #viewCart{
    text-decoration: none;
    color: white;
    background-color: #ff0000b4;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.back-link{
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 6px 2px;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.back-link:hover {
background-color: #0056b3;
}